<?xml version="1.0"?>
<robot name="gogo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ===================== -->
  <!-- MATERIAL -->
  <!-- ===================== -->
  <material name="silver">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>

  <!-- ===================== -->
  <!-- BASE LINK -->
  <!-- ===================== -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.00014891641118042382 -3.330593326496944e-05 0.08014365341587747" rpy="0 0 0"/>
      <mass value="4.296738201060667"/>
      <inertia ixx="0.015568" iyy="0.030421" izz="0.025452"
               ixy="-4e-06" iyz="-1.1e-05" ixz="-4.7e-05"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://gogo_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="silver"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://gogo_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- ===================== -->
  <!-- LEFT WHEEL LINK -->
  <!-- ===================== -->
<link name="left_wheel_link">
  <visual>
    <origin xyz="0 -0.0837 -0.0325" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://gogo_description/meshes/left_wheel_1.stl"
            scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="0 -0.0837 -0.0325" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://gogo_description/meshes/left_wheel_1.stl"
            scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="wheel_left_joint" type="fixed">
  <parent link="base_link"/>
  <child link="left_wheel_link"/>
  <origin xyz="-0.0 -0.0837 -0.0325" rpy="0 0 0"/>
</joint>

  <!-- ===================== -->
  <!-- RIGHT WHEEL LINK -->
  <!-- ===================== -->
 <link name="right_wheel_link">
  <visual>
    <origin xyz="0 0.0837 -0.0325" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://gogo_description/meshes/right_wheel_1.stl"
            scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>

  <collision>
    <origin xyz="0 0.0837 -0.0325" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://gogo_description/meshes/right_wheel_1.stl"
            scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="wheel_right_joint" type="fixed">
  <parent link="base_link"/>
  <child link="right_wheel_link"/>
  <origin xyz="-0.0 0.0837 -0.0325" rpy="0 0 0"/>
</joint>



  <!-- ===================== -->
  <!-- LIDAR -->
  <!-- ===================== -->
 <link name="lidar_link_1">
  <visual>
    <origin xyz="-0.034 0.0 -0.1771" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://gogo_description/meshes/lidar_link_1.stl"
            scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
</link>

<joint name="lidar_joint" type="fixed">
  <parent link="base_link"/>
  <child link="lidar_link_1"/>
  <origin xyz="0.034 0.0 0.1771" rpy="0 0 0"/>
</joint>

  <!-- ===================== -->
  <!-- CAMERA -->
  <!-- ===================== -->
 <link name="camera_link_1">
  <visual>
    <origin xyz="-0.0925 0.0 -0.1274" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://gogo_description/meshes/camera_link_1.stl"
            scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
</link>

<joint name="camera_joint" type="fixed">
  <parent link="base_link"/>
  <child link="camera_link_1"/>
  <origin xyz="0.0925 0.0 0.1274" rpy="0 0 0"/>
</joint>

  <!-- ===================== -->
  <!-- IMU -->
  <!-- ===================== -->
 <link name="imu_link_1">
  <visual>
    <origin xyz="-0.008683 -0.004961 -0.1029" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://gogo_description/meshes/imu_link_1.stl"
            scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
</link>

<joint name="imu_joint" type="fixed">
  <parent link="base_link"/>
  <child link="imu_link_1"/>
  <origin xyz="0.008683 0.004961 0.1029" rpy="0 0 0"/>
</joint>

</robot>
